/* CSS HOME */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
	clear: left;
}

.principal {
	margin-bottom: 1em;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin-bottom: 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 130px;
	float: left;
	margin: 0 20px;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin-bottom: 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: linear-gradient(#888888, #FEFEFE);
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "★";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 500ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

footer {
	text-align: center;
	background-color: #000000;
	padding: 40px 0;
}

.copyright {
	color: #BBBBBB;
}

/* CSS PRODUTO*/
body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #BBBBBB;
	padding: 20px 10;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 120px;
	right: 0; 
}

nav li{
	display: inline;
	margin-left: 15px;
}

nav a{
	text-transform: uppercase;
	text-decoration: none; 
	color: #141313;
	font-weight: bold;
	font-size: 22px;
}

nav a:hover {
	color: #d3930b;
	text-decoration: underline;
}

/* CSS DA PÁGINA CONTATOS */
#geral-contato {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.input-padrao {
	display: block;
	margin-bottom: 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	
}

thead {
	background: #CCCCCC;
	color: black;
	font-weight: bold;
}

table td, th {
	border: 2px solid #000000;
	padding: 4px 10px;
	text-align: center;
}